form{
  width: 500px;
  margin: 30px auto;
}

input[type="text"]{
  border-radius: 5px;
  margin: 5px;
  size: 120%;
}

input[type="button"] {
  border-radius: 10px;
  background-color: #095d91; 
  color: white; 
  padding: 10px 15px; 
  cursor: pointer;
  border: none; 
  margin-right: 5px;
}


input[type="button"]:hover {
  background-color: #87CEFA; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px auto;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid lightblue; 
  border-right: 1px solid lightblue;
}

th {
  background-color: #095d91; /* Azul claro para o cabeçalho da tabela */
  color: black;
}


tr:nth-child(even) {
  background-color: #f2f2f2; /* Fundo branco para linhas pares */
}

/* Estilizando as células das linhas ímpares da tabela */
tr:nth-child(odd) {
  background-color: white; /* Fundo branco para linhas ímpares */
}